@import '../../../../styles/variables';

:host {
    background: $primary;
    color: #fff;
    padding: 30px 15px;
}


.logo {
    svg {
        width: 50px;
    }
}

.sidebar-menu-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.slider-menu-bottom {
    text-align: center;
    display: flex;
    flex-direction: column;
    .button { margin-top: 15px; }
}