<div class="sidebar-menu-container">
        <div class="slider-menu-top">
                <a routerLink="" class="logo">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 101.84 115.65"><defs><style>.cls-1{fill:#83a4d4;}.cls-1,.cls-2{fill-rule:evenodd;}.cls-2{fill:#fff;}</style></defs><title>Ресурс 12323</title><g id="Слой_2" data-name="Слой 2"><g id="_21" data-name="21"><path class="cls-1" d="M58.59,29.15A43.25,43.25,0,1,1,15.34,72.4,43.26,43.26,0,0,1,58.59,29.15Z"/><path class="cls-2" d="M78.41.3,79.65,0,83,14.1l-.66,1.14L67.75,18.65ZM44.85,63.71a11,11,0,1,1-11,11,11,11,0,0,1,11-11Zm-3.41,5.21,9.2,5.82-9.2,5.81ZM4.37,49.07h0V44l5.94-10.22H22.91L14.05,49.07H24.7l8.86-15.25H46.13L37.27,49.07H49.42l8.85-15.25H70.85L62,49.07H73.48l8.85-15.25h3V49.07h0V100.4h-81Zm11.92,7.56H73.41V92.84H16.29ZM4.39,29.08A4.4,4.4,0,1,1,0,33.48a4.4,4.4,0,0,1,4.39-4.4ZM.87,18.45l9.75-2.28L3.31,28.83Zm22-5.15L37.42,9.89,26.76,28.24,12.21,31.65ZM49.87,7l14.55-3.4L53.77,21.92,39.21,25.33Z"/></g></g></svg>
                </a>   
        </div>
        <div class="slider-menu-bottom">
                <app-theme-switcher></app-theme-switcher> 
                <button class="button button-sm button-secondary-dark" (click)="signOut($event)">
                        Log Out
                </button> 
        </div>
          
</div>