<section class="section-fullheight">
    <div class="container">
        <div class="row">
            <div class="formGroup" *ngIf="authService.userData as user">
                <p class="text-center">We have sent a confirmation email to <strong>{{user.email}}</strong>.</p>
                <p class="text-center">Please check your email and click on the link to verfiy your email address.</p>
              </div>
        </div>
    </div>
</section>
