<div class="box-form box-form-narrow"> 
  <form [formGroup]="loginForm" (ngSubmit)="submit()">
    <h3 class="box-form-title">LogIn Form</h3>
    <div class="tooltip tooltip-error" *ngIf="authService.error$ | async as error">
      {{ error }} 
    </div>
    <div class="tooltip tooltip-info" *ngIf="message">
      {{ message }} 
    </div>
    <p>
      <mat-form-field class="w-100">
        <input type="text" id="email" matInput placeholder="E-mail" formControlName="email" #userEmail required>
        <mat-error>
          <span *ngIf="loginForm.get('email').errors?.required">
            E-mail cannot be empty!
          </span>
          <span *ngIf="loginForm.get('email').errors?.email">
            E-mail is incorrect!
          </span>
        </mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="w-100"> 
        <input type="password" id="password" matInput placeholder="Password" formControlName="password"
          #userPassword required>
        <mat-error>
          <span *ngIf="loginForm.get('password').errors?.required">
            Password cannot be empty!
          </span>
          <span *ngIf="loginForm.get('password').errors?.minlength">
            Password must contain more letters then {{loginForm.get('password').errors.minlength.requiredLength}}
          </span>
        </mat-error>
      </mat-form-field>
    </p>

    <div class="formGroup">
      <button type="submit" class="button button-sm button-primary" [disabled] = "loginForm.invalid || submited">Log In</button>
    </div>
  </form>
  <div class="info_wrrapper">
    <span>Not Registred?</span>
    <a mat-button routerLink="register" routerLinkActive="active">Create account</a>
  </div>
</div>