<div class="row align-items-center">
  <div class="col-lg-5">
    <div class="d-flex justify-content-between align-items-center">
      <h2 class="header-title">Movies</h2>
      <app-change-view></app-change-view>
    </div>
  </div>
  <div class="col-lg-7">
    <div class="d-flex justify-content-between align-items-center">
      <app-search></app-search>
      <div class="button-group button-group-md">
        <button class="button button-icon button-sm button-icon-left button-blue-2">
          <mat-icon class="icon">filter_list</mat-icon>
          <span>Filter</span>
        </button>

        <button class="button button-icon button-sm button-icon-left button-primary" routerLink="movies-new" routerLinkActive="active">
          <mat-icon class="icon">add_to_queue</mat-icon>
          <span>Create</span>
        </button>

      </div>
    </div>
  </div>
</div>