// Colors
$primary: #2c50ee;
$secondary: #3abb7a;
$blue-1: #c8e2f1;
$blue-2: #d9eaf4;
$gray-1: #f3f4f8;
$red: #e60023;
$gray: #c0c7cf;
$dark: #151515;

// Transition
$transition-base: 0.33s all ease-in-out;