<div *ngIf="movies.length; else loader">
  <div class="row row-30 row-narrow">
    <div class="col-md-6 col-lg-4" *ngFor="let movie of movies">
        <app-movies-list-item [m]="movie" (someEvent)="remove($event)"></app-movies-list-item>  
    </div>
  </div>
</div>

<ng-template #loader>
  <p class="text-center">
      Loading Now
  </p>
</ng-template>




