<div class="page">
  <div class="section  section-md">
    <div class="container">
      <div [ngClass]="{'bg-gray-1' : showSidebar}">
        <div class="row no-gutters justify-content-center">
          <div class="col-lg-3" *ngIf="showSidebar">
            <app-sidebar></app-sidebar>
          </div>
          <div class="col-lg-9">
            <app-header *ngIf="showHeader"></app-header>
            <div class="app-body">
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>