@import "../../../../styles/variables"; 

::ng-deep {
    .mat-radio-button {
        .mat-radio-label-content {
            padding-left: 0;
        }
        .mat-radio-container {
            display: none;
        }
        .mat-radio-label { 
            margin-bottom: 0;
        }
    }
}

.mat-radio-button {
    background: rgba($blue-2, .7);
    color: $primary; 
    border-radius: 4px;
    .mat-radio-label { margin-bottom: 0; }
    .mat-icon { 
 
  
        width: 32px;
        height: 32px;
        font-size: 25px;
        vertical-align: middle;
        line-height: 32px;
        text-align: center;
    
    }

    &.mat-radio-checked { 
        background: $primary;
        color: white;
      }
}

.mat-radio-button + .mat-radio-button {
    margin-left: 10px;
}

