<mat-radio-group name="radio-buttons" >
    <mat-radio-button name="row" value="row">
        <mat-icon>chrome_reader_mode</mat-icon>
    </mat-radio-button >
    <mat-radio-button checked name="grid" value="grid">
        <mat-icon>dashboard</mat-icon>
    </mat-radio-button>
    <mat-radio-button name="list" value="list">
            <mat-icon>dns</mat-icon>
    </mat-radio-button>
</mat-radio-group>