<div class="box-form box-form-narrow"> 
  <form [formGroup]="registerForm" (ngSubmit)="submit()">
    <h3 class="box-form-title">Register Form</h3>
    <p>
      <mat-form-field class="w-100">
        <input type="text" id="userEmail" matInput placeholder="E-mail" formControlName="userEmail" #userEmail required>
        <mat-error>
          <span *ngIf="registerForm.get('userEmail').errors?.required">
            E-mail cannot be empty!
          </span>
          <span *ngIf="registerForm.get('userEmail').errors?.email">
            E-mail is incorrect!
          </span>
        </mat-error>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field class="w-100"> 
        <input type="password" id="userPassword" matInput placeholder="Password" formControlName="userPassword"
          #userPassword required>
        <mat-error>
          <span *ngIf="registerForm.get('userPassword').errors?.required">
            Password cannot be empty!
          </span>
          <span *ngIf="registerForm.get('userPassword').errors?.minlength">
            Password must contain more letters then {{registerForm.get('userPassword').errors.minlength.requiredLength}}
          </span>
        </mat-error>
      </mat-form-field> 
    </p>

    <div class="formGroup">
      <button type="submit" class="button button-sm button-primary" [disabled] = "registerForm.invalid || registred">Sign Up</button>
    </div>
    <div class="info_wrrapper">
      <span>Do you have an account?</span>
      <a mat-button routerLink="login" routerLinkActive="active">Sign In</a>
    </div>


  </form>
</div>

