<!-- <mat-form-field floatLabel="never">
    <mat-icon matPrefix>search</mat-icon>
    <input matInput type="search" placeholder="Search Movies" class="search-input">
</mat-form-field> -->

<input type="search" placeholder="Search Movie"> 