/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import '../src/styles/variables';

*  { box-sizing: border-box; }

html, body { height: 100%; }
body { 
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    line-height: 1.4em;
} 

h1,h2,h3,h4,h5,h6 { margin: 0; }

.page {
    min-height: 100vh;
    overflow: hidden;
    background: linear-gradient(to right, #b6fbff, #83a4d4);
    display: flex;
    align-items: center;
    justify-content: center;
}

/*
 Sections
*/

.section-content {
    height: 100%;
    margin: 150px auto 100px;
    background: $gray-1;
    border-radius: 20px;
    overflow: hidden;
}

.section-fullheight {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.section-md {
    padding: 100px 0;
}


.nav-tool-items {
    margin-left: -5px;
    margin-right: -5px;
    & > .mat-raised-button { 
        margin-right: 5px;
        margin-left: 5px;
      }
}

img {
    max-width: 100%;
    height: auto;
}



/*
 Buttons
*/ 

.button-group {
    display: flex;
    align-items: center;
}

.button-group-base { 
    margin-left: -5px;
    & > * { margin-left: 5px; }
}

.button-group-md {
    margin-left: -8px;
    & > * { margin-left: 8px; }
}


.button {
    padding: 10px 15px;
    display: inline-block;
    border-radius: 4px;
    box-shadow: none;
    border: 1px solid;
    font-weight: 500;
}

.button:disabled {
    opacity: 0.55;
    pointer-events: none;
}


.button-sm {
    padding: 5px 12px;
    font-size: 15px;
}

.button-primary {
    background: $primary;
    border-color: $primary;
    color: $white;
    transition: $transition-base;
    &:hover, &:focus, &:active { 
        background: $secondary; 
        border-color: $secondary;
    }
}

.button-secondary {
    background: $secondary;
    border-color: $secondary;
    color: $white;
    transition: $transition-base;
    &:hover, &:focus, &:active { 
        background: $primary; 
        border-color: $primary;
    }
}

.button-secondary-dark {
    background: $secondary;
    border-color: $secondary;
    color: $white;
    transition: $transition-base; 
    &:hover, &:focus, &:active {  
        background: $dark; 
        border-color: $dark;
    }
}

.button-blue-2 {
    background: $blue-2;
    border-color: $blue-2;
    color: $primary;
    transition: $transition-base;
    &:hover, &:focus, &:active { 
        background: $primary; 
        border-color: $primary;
        color: white;
    }
}

.button-red {
    background: $red;
    border-color: $red;
    color: $white;
    transition: $transition-base;
    &:hover, &:focus, &:active { 
        background: darken($red, 10); 
        border-color: darken($red, 10);
        color: white;
    }
}

.button-icon {
    display: flex;
    align-items: center;
    & > * {
        vertical-align: middle;
        display: inline-block;
    }
    &.button-icon-left{ 
        .icon {
            margin-right: 6px; 
        }
    }   
}
/*
 Grid Custom Styles
*/
@media (min-width: 1600px) {
    .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 1540px;
    }
}

.container-no-padding {
    padding: 0;
}

.row-30 { 
    margin-bottom: -30px;
    & > [class*="col-"] {
        margin-bottom: 30px;
    }
}

.row-narrow {
    margin-left: -10px;
    margin-right: -10px;
    & > [class*="col-"] {
        padding-left: 10px;
        padding-right: 10px;
    }
}


/*
 Box Form
*/
.box-form {
    background: $white;
    padding: 20px 15px;
    border-radius: 6px;
    position: relative;
}

.box-form-narrow {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
}

.box-form-title +  * { margin-top: 8px; }

.form-wrap {
    position: relative;
}

.form-validation {
    position: absolute;
}

.form-label {
    position: absolute;
    left: 0;
    padding-left: 15px;
}

.form-input {
    width: 100%;
}

.form-input:focus, .form-input:active {
    .form-label { opacity: 0; }
}

.form-wrap + .form-wrap { margin-top: 20px; }


/*
 Tooltips
*/
.tooltip {
    padding: 10px 5px; 
    border-radius: 4px;
    position: absolute;
    top: -10px;
    transform: translateY(-100%);
    margin-top: 0;
    left: 0;
    right: 0;
    background: #fff;
    &:before {
        content: '';
        position: absolute;
        display: block;
        left: 0;
        width: 15px;
        top: 0;
        bottom: 0;
    }
}
.tooltip-error {
    &:before {
        background: rgba($red, .3);
    }

}

.tooltip-info {
    &:before {
        background: $secondary;
    }
}

/*
    Background
*/ 
.bg-gray-1 {
    background: $gray-1;
}

/*
 Utilities
*/
.w-100 {
    width: 100%;
}

/*
 App Body
*/ 
.app-body {
    padding: 20px 15px;
}


.info_wrrapper {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}