.movie {
    border-radius: 10px;
    overflow: hidden;
    background: #fff;
    position: relative;
}

.movie-title {
    line-height: 1.2em;
}

.movie-year {
    line-height: 1.2em;
}

.movie-info {
    padding: 21px 15px; 
}

.movie-raiting { 
    display: block;
 }

 .movie-genres {
     margin-bottom: 0;
 }
 

.movie-img {
    object-fit: cover;
    // object-position: center;
    // max-height: 300px;
    // width: 100%;
}

.movie-length {
    display: block;
}

* + .movie-year { margin-top: 10px; }

* + .movie-raiting { margin-top: 10px; }

* + .movie-genres { margin-top: 8px; }

* + .movie-length { margin-top: 8px; }

.movie-length + * { margin-top: 15px; }