<div class="movie">
    <div class="movie-img-wrap">
        <img class="movie-img" src="{{ m.movieImage }}" alt="{{ m.movieTitle }}" />
    </div>
    <div class="movie-info">
        <h3 class="movie-title">{{ m.movieTitle }}</h3> 
        <h4 class="movie-year">Year: {{m.movieYear}}</h4>
        <span class="movie-raiting">Raiting: {{m.movieRate}}</span>
        <p class="movie-genres">{{m.movieGenres}}</p>
        <span class="movie-length">Duration: {{ m.movieLength }}</span>
        <div class="button-group button-group-base">
            <button class="button button-sm button-primary" >Detail</button>
            <button class="button button-sm button-secondary" [routerLink]="['/home', 'movie', m.id, 'edit']">Edit</button>
            <button class="button button-sm button-red" (click)="remove(m.id)">Remove</button>  
        </div>
    </div>

</div>