<form [formGroup]="addingForm" (ngSubmit)="submit()">
    <h1>Add new movie</h1>
    <p>
        <mat-form-field>
            <input type="text" id="title" matInput placeholder="Title" formControlName="movieTitle" #movieTitle required>
            <mat-error>
                <span *ngIf="addingForm.get('movieTitle').errors?.required">
                    Title cannot be empty!
                </span>
            </mat-error>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <input type="text" id="image" required matInput placeholder="ImageLink" formControlName="movieImage" #movieImage required>
            <mat-error>
                <span *ngIf="addingForm.get('movieImage').errors?.required">
                    ImageLink is reguired!
                </span>
            </mat-error>
        </mat-form-field> 
    </p>
    <p> 
        <mat-form-field>
            <input type="text" id="rate" mask="00.0" [dropSpecialCharacters]="false" required matInput placeholder="Rate"
                formControlName="movieRate" #movieRate required>
            <mat-error>
                <span *ngIf="addingForm.get('movieRate').errors?.required"> 
                    Rate is required!
                </span>
            </mat-error>
        </mat-form-field>
    </p> 
    <p>
        <mat-form-field>
            <input type="text" id="year" mask="0000" required matInput placeholder="Year"
                formControlName="movieYear" #movieYear required>
            <mat-error>
                <span *ngIf="addingForm.get('movieYear').errors?.required">
                    Year is required!
                </span>
            </mat-error>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <input type="text" id="genres" mask="AAAA" [specialCharacters]="[',']" required matInput placeholder="Please, enter genres separated by coma" 
                formControlName="movieGenres" #movieGenres required>
            <mat-error>
                <span *ngIf="addingForm.get('movieGenres').errors?.required">
                    Genres are required!
                </span>
            </mat-error>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <input type="text" id="length" mask="000" suffix="minutes" required matInput placeholder="Movie Length"
                formControlName="movieLength" #movieLength required>
            <mat-error>
                <span *ngIf="addingForm.get('movieLength').errors?.required">
                    Length is required!
                </span>
            </mat-error>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <textarea type="text" id="review" matInput placeholder="Movie Review"
            formControlName="movieReview" #movieReview>
            </textarea>          
        </mat-form-field>
    </p>

    <button
        type="submit"
        class="button button-primary"
        [disabled]="addingForm.invalid"
        
    >Add Movie</button> 

</form>